head
    title VoteGen - Generate your own poll!
    link(href='/public/css/styles.css' rel='stylesheet' type='text/css')
    link(href='/bootstrap/css/bootstrap.css' rel='stylesheet' type='text/css')
    link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    meta(name='viewport' content='width=device-width, initial-scale=1')