doctype html
html
    include ./templates/head.pug
    
    body
        .grid
            .grid-navbar
                include ./templates/navbar.pug
                
            .subgrid.sign-log
                .leftpanel.local
                    h3 Sign Up
                    br
                    form.signup-form(action='/signup' method='POST')
                        if message.length > 0
                            .alert.alert-danger= message
                        label(for='username') Username:
                        input#username.form-control(type='text' name='username' placeholder='Your Username')
                        br
                        label(for='password') Password:
                        input#password.form-control(type='password' name='password' placeholder='Your Password')
                        button#signup-btn.btn.btn-primary.btn-lg(type='submit') Sign up
                        
        include ./templates/scripts.pug